<!DOCTYPE html>
<html ng-app="TaskMeApp">
  <head>
    <meta charset="utf-8">
    <title>Task.me</title>
    <!-- style links -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <!-- script links -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="/JS/app.js" charset="utf-8"></script>
    <script src="/JS/controllers/tasks_controller.js" charset="utf-8"></script>

  </head>
  <body>
    <section ng-controller="TasksController">
      <header id="page-header">
        <div class="container">
          <div class="row">
            <h1><i class="fa fa-book"></i> Task.me</h1>
          </div>
        </div>
      </header>

      <!--============================= RENDER TEMPLATES ==============================-->
      <!-- Render Todo's -->
      <div class="render-headers" id="todo-header">
        <div class="container">
          <div class="row">
            <h3>To Be Done Today</h3>
          </div>
        </div>
      </div>
      <div class="container" id="todo-container">
        <div class="row">
          <ul>
            <li ng-repeat-start="task in tasks">
              <h5>{{ task.todo_name }}</h5>
            </li>
            <li ng-repeat-end>
                <p>Priority: {{ task.priority_level }}</p>
            </li>
          </ul>
        </div>
      </div>

      <!-- Render Appointments -->
      <div id="appointment-master">


      <div class="render-headers" id="appointment-header">
        <div class="container">
          <div class="row">
            <h3>Appointments and Events</h3>
          </div>
        </div>
      </div>
      <div class="container" id="appointments-container">
        <div class="row">
          <ul>
            <li ng-repeat-start="task in tasks">
              <h5> Title: {{ task.appointment_name }} </h5>
            </li>
            <li ng-repeat-end>
              <p> At: {{ task.appointment_time }} </p>
              <p> Location: {{ task.appointment_location }} </p>
              <p> Desc: {{ task.appointment_description }} </p>
            </li>
          </ul>
        </div>
      </div>
          </div>

      <!-- Render Calls and Emails -->
      <div class="render-headers" id="emails-calls-header">
        <div class="container">
          <div class="row">
            <h3>Emails and Phone Calls</h3>
          </div>
        </div>
      </div>
      <div class="container" id="email-calls-container">
        <div class="row">
          <ul>
            <li ng-repeat-start="task in tasks">
              <h5>Contact: {{task.person_name}} </h4>
            </li>
            <li ng-repeat-end>
              <p>Phone: {{task.phone_number}}</p>
              <p>Email: {{task.email}}</p>
              <p>Deadline: {{task.phone_deadline}}</p>
              <p>Notes: {{task.notes}}</p>
              <button type="button" ng-click="deleteTask( $index )">Delete</button>
            </li>
            </ul>
          </div>
        </div>



      <!--=================================== FORM ====================================-->
        <div class="container" id="form-header">
            <a id="indent" class="button" href="#toggle">Task Me!</a>
        </div>
        <form id="toggle" class="u-full-width" ng-submit="createTask()">
          <div class="container">
            <div class="row">
              <h3>Do Today</h3>
            </div>
          </div>
          <div class="container">                <!--to do -->
             <div class="row">
              <div class="six columns">
                <input class="u-full-width" type="text" placeholder="Task Name" ng-model="newTask.todo_name">
              </div>
              <div class="six columns">
                <select class="u-full-width" placeholder="Priority" ng-model="newTask.priority_level">
                  <option value="Urgent">Urgent</option>
                  <option value="High">High</option>
                  <option value="Moderate" >Moderate</option>
                  <option value="Low">Low</option>
                  <option value="'Unimportant">Unimportant</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="container">
            <div class="row">
              <h3>New Appointment</h3>
            </div>
          </div>
          <div class="container">               <!-- Appointments -->
            <div class="row">
              <div class="six columns">
                <input class="u-full-width" type="text" ng-model="task.appointment_name" placeholder="Appointment Title">
                <input class="u-full-width" type="text" ng-model="task.appointment_time" placeholder="Time">
              </div>
              <div class="six columns">
                <input class="u-full-width" type="text" ng-model="task.appointment_location" placeholder="Location">
                <input class="u-full-width" type="text" ng-model="task.appointment_description" placeholder="Description">
              </div>
            </div>
          </div>
          <hr>
          <div class="container">
            <div class="row">
              <h3>Calls and Emails</h3>
            </div>
          </div>
          <div class="container">                  Calls/ Emails
             <div class="row">
              <div class="four columns">
                <input class="u-full-width" type="text" ng-model="task.person_name" placeholder="Contact Name">
              </div>
              <div class="four columns">
                <input class="u-full-width" type="text" ng-model="task.phone_number" placeholder="Phone Number">
              </div>
              <div class="four columns">
                <input class="u-full-width" type="text" ng-model="task.email" placeholder="Email Address">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="twelve columns">
              <input class="u-full-width" type="text" ng-model="task.notes" placeholder="Notes">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
                <button type="sumbit" name="button">Add Task</button>
            </div>
          </div>

        </form>
        <a href="#" class="close">Dismiss</span></a>

        <hr>
      <!--================================  END FORM  =================================-->

    </section>
  </body>
</html>
